<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <div class="container"><a class="navbar-brand">DTUMARKET</a>
        <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">Trang Chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="#notification">Thông Báo</a></li>
                <li class="nav-item"><a class="nav-link" href="#Posts">Bài Đăng</a></li>
                <li class="nav-item"><a class="nav-link" href="#Profile">Hồ sơ Cá Nhân</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#contact">Contact</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="#" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">Đăng Nhập</a> <a href="#"
                                                                                                           class="btn btn-info my-2 my-sm-0 text-uppercase">Đăng Ký</a>
            </form>
        </div>
    </div>
</nav>
